* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.homeTitle {
    color: rgb(202, 60, 25);
    border: 2px solid black;
    border-radius: 4px;
    max-width: 200px;
    margin: 16px;
    padding: 16px;
}

.homeList {
    margin-left: 30px;
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
    column-gap: 10px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
  }

li {
    font-size: 22px;
    background-color: rgba(255, 123, 46, 0.26);
    border: 2px solid rgb(173, 84, 32);
    border-style: dashed;
    border-radius: 4px;
    padding: 5px;
}

a {
    color: rgb(219, 62, 62);
    text-decoration: none;
}